body{
  
  color:white;
}

h1{
  font-weight: bolder;
  text-shadow: 5px 5px 1px black;
}

#welcome{
  display: block;
}

#welcome.hide{
  display: none;
}

#play-box i{
  font-size: 150px;
}

#risultato{
  background-color: white;
  border-radius: 30px;
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

#risultato.win{
  color: green;
  border: 5px solid green;
}

#risultato.lose{
  color: red;
  border: 5px solid red;
}

#risultato.neutral{
  color: black;
  border: 5px solid black;
}

#risultato i{
  font-size: 100px;
}